[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
	branch = warrior
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = warrior
[submodule "meta-xilinx"]
	path = meta-xilinx
	url = https://github.com/Xilinx/meta-xilinx.git
	branch = warrior
