# SPDX-License-Identifier: GPL-2.0
#
# Copyright (c) 2018, Kush, Inc.

if ARCH_ZINC

config CMD_ZINC
	bool "Enable Zinc specific commands"
	default y
	help
	  Enables Zinc specific commands.

config CMD_ZINC_AES
	bool "Enable Zinc aes command for decryption of encrypted images"
	depends on CMD_ZINC
	depends on FPGA_ZINC
	help
	  Decrypts the encrypted image present in source address
	  and places the decrypted image at destination address.

config CMD_ZINC_RSA
	bool "Enable zynq rsa command for loading secure images"
	default y
	depends on CMD_ZINC
	depends on CMD_ZINC_AES
	help
	  Enabling this will support zinc secure image verification.
	  The secure image is a kush specific BOOT.BIN with
	  either authentication or encryption or both encryption
	  and authentication feature enabled while generating
	  BOOT.BIN using Xilinx bootgen tool.

config SYS_CONFIG_NAME
	default "zinc"

config SYS_VENDOR
	default "kush"

config SYS_BOARD
	default "zinc"


endif
